<div id="page-scroll-1">
    <menu-bar></menu-bar>
    <header id="logo">
        <h1>THE BLOG</h1>
    </header>
    <main id="cards-principal">
        
        <big-card
        title="Tecnologia e nova era"
        imageUrl="28 de agosto de 2023https://thumbs.dreamstime.com/z/jornal-com-not%C3%ADcia-do-local-do-t%C3%ADtulo-87784712.jpg"
        dateCreation="26 de agosto de 2023"
        textNotice="A tecnologia é algo que impreciona não é mesmo?"
        ></big-card>

        <article id="small-cards">
            <small-card 
            photoUrl="https://images.pexels.com/photos/3314294/pexels-photo-3314294.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            title="A tecnologia esta avançando"
            dataCreation="28 de agosto de 2023"
            ></small-card>

            <small-card
            photoUrl="https://images.pexels.com/photos/4050325/pexels-photo-4050325.jpeg?auto=compress&cs=tinysrgb&w=600"
            title="Novo mec-book que promete"
            dataCreation="30 de agosto de 2023"
            ></small-card>

            <small-card
            photoUrl="https://images.pexels.com/photos/3768166/pexels-photo-3768166.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            title="Vicio entre crianças torna preucupação"
            dataCreation="10 de agosto de 2023"
            ></small-card>
        </article>
    </main>
</div>
<div id="page-scroll-2">
    <span>Noticias</span>
    <article>
        <card></card>
        <card></card>
        <card></card>
        <card></card>
    </article>
</div>
